body{
	font: 18px/24px 'Source Sans Pro', sans-serif;
	line-height: 1.4;
}

p + p {margin:1em 0 0;}

a { color:#ff9600; text-decoration: none;}
a:hover { text-decoration: underline;}

.hide {display:none;}
.clear {clear:both;}

.input{
	border:1px solid #dadada;
	font: 18px/24px 'Source Sans Pro', sans-serif;
	padding:0.3em;
	border-radius:4px;
	width:100%;
	-webkit-appearence:none;
	outline:none;
	box-shadow:none;
}

.main-header{
	background:#222222 url(../images/background.jpg) no-repeat center center;
	background-size:cover;
	background-attachment: fixed;
	min-height: 600px;
	position: relative;
}

.callout{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	text-align: center;
}

.site-logo{
	background:url(../images/logo-svg.svg) no-repeat;
	background-size: cover;
	width:6em;
	height:6em;
	margin:0 auto;
}

.callout {color:#fff;}

.callout h1{
	font-size:250%;
  	line-height:1.35;
  	margin:0;
}

.callout h1 span{
	background:#ff9600;
	border-radius: 50%;
	display: inline-block;
	padding-bottom:1em;
	font-weight: 700;
	height:1.4em;
	width:1.4em;
}

.callout h2{
	font-size:120%;
  	margin:0 0 0.8em;
}

.navigation{
/*	background: rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.2);
	border-radius: 5px;
*/	text-align: center;
	padding: 1em 0 0 0;
	width: 100%;
	z-index:10;
}

.navigation-link{
	color:#fff;
	display: block;
	padding:1em 0;
	text-decoration: none;
}

.navigation-link:hover{
	color:#ff9600;
	text-decoration: none;
}

.navigation-link.active{
	color:#ff9600;
	font-weight: 700;
	border-bottom: 2px solid #ff9600;
}

.search-input{ 
	background:#fff url(../images/search.svg) no-repeat;
	background-position: 0.5em 0.35em;
	background-size: 22px 22px;
	margin-top:0.7em;
	padding-left:2em;
	position: relative;
}

.search-input:focus{background-image:url(../images/search_focus.svg);}
.slicknav_menu { display:none; }

.isStuck ul{ background:rgba(34,34,34,0.9);}

.news-list{ margin:4em 0; }

.news-list-item{ text-decoration: none !important; color:inherit; display: block; }

.news-image{
	overflow: hidden;
	margin: 0 0 1em;
	max-height:222px;
	position: relative;
}

.news-fader{
	background:rgba(255,150,0,0.3);
	content: '';
	display: block;
	width:100%;
	height:100%;
	position: absolute;
	opacity: 0;
	top:0;
	transform:scale(1.2,1.2);
	-webkit-transform:scale(1.2,1.2);
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}

.news-image img{ width:100%; display: block; }

.read-more{
	border:2px solid #ffffff;
	border-radius: 4px;
	color: #ffffff;
	font-weight: 700;
	padding:0.5em 1em;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	z-index:2;
}

.news-list-item:hover .news-fader{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	opacity: 1;
}

.news-list-item:hover h1{ color:#fab500; }
.news-list-item:hover p{ color:#a26714; }

.news-list-item h1{
	font-size: 150% !important;
	color:#ff9600;
	margin:0 0 0.5em;
}

.headline{
	margin:4em 0;
	padding:4em 0;
	border-top:1px solid #dadada;
	text-align:center;
}

.headline h1{
	color:#909090;
	font-size:250%;
  	line-height:1.35;
  	margin:0;
}

.site-footer{
	color:#f5f5f5;
	padding:4em 0;
	background-color:#222;
}

.site-footer h1{
	color:#dadada;
	font-weight: 700;
	font-size:120%;
	margin-bottom:0.5em;
}

.site-footer a{ color:#fab500; text-decoration: none; }
.site-footer a:hover {text-decoration: underline;}
.social a{margin-left:0.5em;}

.logo-lumis{
	text-indent: -9999px;
	background:url(../images/lumis.svg) no-repeat;
	background-size: contain;
}

.powered{
	text-indent: -9999px;
	background: url(../images/lumisportal.svg) no-repeat;
	width: 120px;
	top: 2px;
	background-size: contain;
	display: inline-block;
	position: relative;
}

.internal-header{
	min-height:300px;
}

.internal-header .site-logo{
	height:4em;
	width:4em;
}

.internal-header .callout{
	position: static;
	padding-top:2em;
	transform:none;
	-webkit-transform:none;
}

.internal-content{margin:2em 0;}

.breadcrumb{ font-size:0.8em; margin:0 0 2em;}
.breadcrumb li{	display: inline-block; }
.breadcrumb li:after{ content:' » '; padding:5px;}
.breadcrumb li:last-child:after{ content:none;}

.news-detail h1{
	font-size:250%;
  	line-height:1.35;
}

.news-detail .intro{
	font-size:120%;
	line-height:1.4;
	color:#909090;
}

.news-img{margin:1em 0; width:100%;}
.credits{text-align: right;}

.form div{
	margin:1em 0 0;
}

textarea.input{
	min-height: 100px;
}

.button-primary{
	background:#ff9600;
	border:none;
	border-radius:3px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	padding:1em 2em;
	display: block;
	-webkit-appearance:none;
	margin:0 auto;
}

.news-detail .news-list-item{
	padding:0 0 1em;
	border-bottom:1px solid #dadada;
	margin:1.9em 0 0;
}

.news-detail .news-list-item:last-child{ border: none;}
.news-list-item .credits{text-align: left;}
.news-list-item .no-image{margin-bottom:1em;}

.warning p{
	border:1px solid #dadada;
	border-radius:3px;
	margin:1em 0;
	padding:1em;
}

.warning .error, .error{
	border-color: #9e2e2e;
	color:#9e2e2e;
}

.warning .success, .success{
	border-color: #38928b;
	color:#38928b;
}

.keyword{color:#ce4b0c;}

.lum-pagination { margin:1em 0; }
.lum-pagination-range {
	float: left;
	margin-top: 0.4em;
}
.lum-pagination-navigation{ float:right; }
.lum-pagination-navigation input {
	width:2.5em;
	padding:0.3em;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin:0 0.2em;
	border-radius:3px;
	border:1px solid #dadada;
}
.lum-pagination-navigation-page,
.lum-pagination-navigation-buttons {
	display: inline-block;
	vertical-align: middle;
	margin-left:0.8em;
}

.lum-button {
	border-radius:3px;
	border:2px solid #fab500;
	display: inline-block;
	width:2.5em;
	height:36px;
	position:relative;
	margin-left:0.5em;
	text-indent: -9999px;
overflow: hidden;
}

.lum-prev:before { 
	content:'\f053';
	font-family: 'FontAwesome';
	position:absolute;
	top:0.3em;
	left:0.65em;
	color:#fab500;
	text-indent: 0;
}

.lum-next:before { 
	content:'\f054';
	font-family: 'FontAwesome';
	position:absolute;
	top:0.3em;
	left:0.85em;
	color:#fab500;
	text-indent: 0;
}

.lum-button.lum-disabled{
	border-color:#dadada;
}

.lum-button.lum-disabled:before {color:#dadada;}

.lum-pagination {
	margin: 1em 0;
	clear: both;
}

.lum-pagination-range {
	position: relative;
}


/*--------------------------------------------------*/
/* -------- Versão para tablets (vertical) -------- */
/*--------------------------------------------------*/
@media screen and (max-width: 1024px){

	.site-footer article { margin:2em 0 0; }
}
@media screen and (max-width: 740px){	
	.navigation {display: none;}
	.lum-paginiation-range { margin-left: 1.04166667%; }
	.slicknav_menu {
		background:#222222;
		display: block;
		position: relative;
		z-index: 99;
		width: 100%;
		font-size: 1em;
	}
	.slicknav_btn{font-size: 16px;}
	.slicknav_nav{font-size: 1em;padding-bottom:2em;}
	.slicknav_nav a{
		display:block;
		border-radius:0 !important;
	}
	.slicknav_nav a:hover{
		background:#222;
		color:#ff9600;
	}
	.main-header{min-height:400px; background-attachment: scroll;}
	.news-list{ margin:2em 0; }
	.news-list article { margin:2em 0 0;}
	.headline{margin:2em 0;}
	.site-footer article {margin:2em 0 0;}
	.site-footer {padding: 2em 0;}
	.internal-header{min-height:200px;}
}

.hidden-details {
	text-align: justify;
}

.hidden-details > .title {
	font-weight: bold;
}

.hidden-details > .value {
	word-wrap: normal;
}